Repository braincraftio/workspace: changes, and which pre-commit hooks are due for each by the changed paths.
All: bash-dead-code, markdown-link-check, check-strict-json, biome-check-jsonc, biome-format-json, mise-config-validation, mise-task-validation

bash-dead-code:
  name: Find unused bash functions
  entry: mise run lint:bash:dead-code
  language: system
  pass_filenames: false

markdown-link-check:
  name: Check Markdown Links (offline)
  entry: mise run lint:markdown:links
  language: system
  pass_filenames: false

check-strict-json:
  name: Validate strict JSON files
  entry: bash -c 'for file in "$@"; do jq . "$file" >/dev/null || exit 1; done' --
  language: system

biome-check-jsonc:
  name: Validate JSONC files (Biome)
  entry: biome check --write
  language: system

biome-format-json:
  name: Format JSON/JSONC files (Biome)
  entry: biome format --write
  language: system

mise-config-validation:
  name: Validate mise configuration
  entry: mise run validate:mise
  language: system
  pass_filenames: false

mise-task-validation:
  name: Validate mise tasks
  entry: bash -c 'mise tasks --no-header >/dev/null'
  language: system
  pass_filenames: false

feat: enhance pre-commit configuration with Python security tools and config files
  .actrc
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

style: normalize JSON formatting in MCP configuration files
  .claude/settings.json
  .vscode/mcp.json
Due: check-strict-json, biome-format-json

fix: add missing newline at end of mise environment config
  .config/mise/conf.d/00-env.toml
Due: mise-config-validation

feat: add Python security and type checking tools to mise
  .config/mise/conf.d/00-tools.toml
Due: mise-config-validation

fix: add missing newline at end of mise vars config
  .config/mise/conf.d/00-vars.toml
Due: mise-config-validation

fix: add missing newline at end of mise core config
  .config/mise/conf.d/01-core.toml
Due: mise-config-validation

fix: escape backslash in dangerous_chars array and add missing newline
  .config/mise/lib/command-validation.sh
Due: bash-dead-code

style: remove trailing whitespace from common.sh library
  .config/mise/lib/common.sh
Due: bash-dead-code

fix: add shellcheck disable for nameref variable and clean whitespace
  .config/mise/lib/errors.sh
Due: bash-dead-code

style: remove trailing whitespace from execution.sh library
  .config/mise/lib/execution.sh
Due: bash-dead-code

fix: remove trailing whitespace and add missing newline to formatting.sh
  .config/mise/lib/formatting.sh
Due: bash-dead-code

fix: add shellcheck disable for HEALTH_CHECK_RESULTS variable and clean formatting
  .config/mise/lib/health-checks.sh
Due: bash-dead-code

fix: extract repo_name variable to avoid direct command substitution
  .config/mise/lib/task-runner.sh
Due: bash-dead-code

fix: remove trailing whitespace and add missing newline to workspace.sh
  .config/mise/lib/workspace.sh
Due: bash-dead-code

style: remove trailing whitespace from exec task script
  .config/mise/tasks/exec
Due: bash-dead-code, mise-task-validation

fix: quote bash expansion and remove trailing whitespace in git task
  .config/mise/tasks/git
Due: bash-dead-code, mise-task-validation

fix: remove trailing whitespace and add missing newline to lint-bash-dead-code
  .config/mise/tasks/lint-bash-dead-code
Due: bash-dead-code, mise-task-validation

fix: remove trailing whitespace and add missing newline to lint-bash-shellcheck
  .config/mise/tasks/lint-bash-shellcheck
Due: bash-dead-code, mise-task-validation

fix: add missing newline at end of .env.example
  .env.example
Due: none

fix: add missing newline at end of act-container-build script
  .gemini/settings.json
  .github/bin/act-container-build
Due: check-strict-json, biome-format-json

fix: add missing newline at end of workspace.json
  .github/config/workspace.json
Due: check-strict-json, biome-format-json

fix: remove unnecessary quotes from cron and string values in codespaces workflow
  .github/workflows/codespaces-prebuild.yaml
Due: none

style: format GitHub workflow YAML for better readability
  .github/workflows/lint-markdown-links.yml
Due: none

fix: remove unnecessary quotes from workflow description
  .github/workflows/local-container-build.yml
Due: none

fix: add missing newline at end of .shellcheckrc
  .shellcheckrc
Due: none

style: standardize VS Code settings.json indentation to 2 spaces
  .vscode/settings.json
Due: check-strict-json, biome-format-json

style: compact cspell.json ignorePaths array to single line
  cspell.json
Due: check-strict-json, biome-format-json

fix: remove unused DEVCONTAINER_IMAGE variable and clean trailing whitespace
  launch-workspace
Due: none

feat: add Bandit configuration for Python security analysis
  .bandit
Due: none

feat: add comprehensive EditorConfig for cross-IDE consistency
  .editorconfig
Due: none

feat: add ESLint ignore configuration for workspace
  .eslintignore
Due: none

feat: complete mise.toml v4 domain-first architecture migration
  .config/mise/conf.d/00-tools.toml
  .config/mise/lib/command-validation.sh
  .config/mise/lib/common.sh
  .config/mise/lib/diagnostics.sh
  .config/mise/lib/errors.sh
  .config/mise/lib/execution.sh
  .config/mise/lib/formatting.sh
  .config/mise/lib/health-checks.sh
  .config/mise/lib/task-runner.sh
  .config/mise/lib/workspace.sh
  .config/mise/tasks/check-child-repos
  .config/mise/tasks/doctor-workspace
  .config/mise/tasks/exec
  .config/mise/tasks/git
  .config/mise/tasks/git-setup
  .config/mise/tasks/lint-bash-dead-code
  .config/mise/tasks/lint-bash-shellcheck
  .devcontainer/devcontainer.json
  .editorconfig
  .env.example
  .gitignore
  .markdownlint-cli2.yaml
  .mise.toml
  .pre-commit-config.yaml
  .secrets.baseline
  .vscode/settings.json
  braincraft.code-workspace
  cspell.json
  launch-workspace
  lychee.toml
Due: bash-dead-code, check-strict-json, biome-check-jsonc, biome-format-json, mise-config-validation, mise-task-validation

feat: add comprehensive linting and formatting toolchain configurations
  .config/mise/tasks/docker
  .config/mise/tasks/format-whitespace-fix
  .config/mise/tasks/go
  .config/mise/tasks/json-schema
  .config/mise/tasks/rust
  .config/mise/tasks/task-list
  .config/mise/tasks/validate-compose
  .config/mise/tasks/web
  .detect-secrets.toml
  .golangci.yml
  .hadolint.yaml
  .htmlhintignore
  .htmlhintrc
  .markdownlint.yaml
  .prettierignore
  .prettierrc.yaml
  .stylelintignore
  .stylelintrc.json
  .yamllint.yaml
  eslint.config.js
  mypy.ini
  package-lock.json
  package.json
  pyproject.toml
  taplo.toml
Due: bash-dead-code, check-strict-json, biome-format-json, mise-task-validation

security: add MCP config files with hardcoded secrets to gitignore
  .gitignore
Due: none

feat: add VS Code JSON schemas and markdownlint ignore file
  .github/schemas/vscode-settings.json
  .github/schemas/vscode-workspace.json
  .markdownlintignore
Due: check-strict-json, biome-format-json

feat: add utility scripts to .config/bin
  .config/bin/act-container-build
  .config/bin/json-schema-ajv
  .config/bin/tree
Due: none

feat: add MCP configuration JSON schema
  .github/schemas/mcp-config.json
Due: check-strict-json, biome-format-json

refactor: remove scripts from .github/bin (moved to .config/bin)
  .github/bin/act-container-build
  .github/bin/tree
Due: none

fix: correct check-external input type in markdown links workflow
  .github/workflows/lint-markdown-links.yml
Due: none

fix: ensure check-external always evaluates to boolean
  .github/workflows/lint-markdown-links.yml
Due: none

Path conditions:
  bash-dead-code: any of: \.sh$|^\.config/mise/tasks/ and not (^(actions|containers|dot-github|style-system)/|node_modules/) and not ((?x)^(
  .*\.min\.(js|css)|
  .*\.map|
  vendor/|
  node_modules/|
  \.git/|
  \.next/|
  \.nuxt/|
  dist/|
  build/|
  coverage/|
  \.reports/|
  \.npm-global/|
  \.pnpm-store/|
  \.cargo/|
  \.cache/|
  target/|
  tmp/
)
)
  markdown-link-check: any of: \.md$ and not (^(actions|containers|dot-github|style-system)/|node_modules/) and not ((?x)^(
  .*\.min\.(js|css)|
  .*\.map|
  vendor/|
  node_modules/|
  \.git/|
  \.next/|
  \.nuxt/|
  dist/|
  build/|
  coverage/|
  \.reports/|
  \.npm-global/|
  \.pnpm-store/|
  \.cargo/|
  \.cache/|
  target/|
  tmp/
)
)
  check-strict-json: any of: \.json$ and not (^(actions|containers|dot-github|style-system)/|node_modules/|(devcontainer|tsconfig.*|.*/tsconfig.*|biome|lychee)\.json$) and not ((?x)^(
  .*\.min\.(js|css)|
  .*\.map|
  vendor/|
  node_modules/|
  \.git/|
  \.next/|
  \.nuxt/|
  dist/|
  build/|
  coverage/|
  \.reports/|
  \.npm-global/|
  \.pnpm-store/|
  \.cargo/|
  \.cache/|
  target/|
  tmp/
)
)
  biome-check-jsonc: any of: (devcontainer|tsconfig.*|.*/tsconfig.*|biome)\.json$ and not (^(actions|containers|dot-github|style-system)/|node_modules/) and not ((?x)^(
  .*\.min\.(js|css)|
  .*\.map|
  vendor/|
  node_modules/|
  \.git/|
  \.next/|
  \.nuxt/|
  dist/|
  build/|
  coverage/|
  \.reports/|
  \.npm-global/|
  \.pnpm-store/|
  \.cargo/|
  \.cache/|
  target/|
  tmp/
)
)
  biome-format-json: any of: \.json$ and not (^(actions|containers|dot-github|style-system)/|node_modules/) and not ((?x)^(
  .*\.min\.(js|css)|
  .*\.map|
  vendor/|
  node_modules/|
  \.git/|
  \.next/|
  \.nuxt/|
  dist/|
  build/|
  coverage/|
  \.reports/|
  \.npm-global/|
  \.pnpm-store/|
  \.cargo/|
  \.cache/|
  target/|
  tmp/
)
)
  mise-config-validation: any of: ^\.mise\.toml$|^\.config/mise/.*\.toml$, but not: (?x)^(
  .*\.min\.(js|css)|
  .*\.map|
  vendor/|
  node_modules/|
  \.git/|
  \.next/|
  \.nuxt/|
  dist/|
  build/|
  coverage/|
  \.reports/|
  \.npm-global/|
  \.pnpm-store/|
  \.cargo/|
  \.cache/|
  target/|
  tmp/
)

  mise-task-validation: any of: ^\.mise\.toml$|^\.config/mise/tasks/, but not: (?x)^(
  .*\.min\.(js|css)|
  .*\.map|
  vendor/|
  node_modules/|
  \.git/|
  \.next/|
  \.nuxt/|
  dist/|
  build/|
  coverage/|
  \.reports/|
  \.npm-global/|
  \.pnpm-store/|
  \.cargo/|
  \.cache/|
  target/|
  tmp/
)

